# Dependencias
node_modules/

# Variables de entorno
.env
.env.local
.env.production

# Builds
dist/
build/

# Logs
*.log
npm-debug.log*

# Sistema operativo
.DS_Store
Thumbs.db

# Editor
.vscode/

# Git Flow installer
gitflow/
